header{
   @include xs{
        @include pozicija($sa,$c,$col); 
   }
   @include l{
        @include pozicija($sa);
   }
    width: 100%;
    background-color: #3a3a37;
    #logo{
        @include xs{
           width: 30%;
       }
       @include l{
            width: 10%;
       }
        img{
            width: 100%;
        }
    }
    nav{
        width: 50%;
        padding: 20px;
        ul{
            @include xs{
                @include pozicija($sa,$c,$col); 
           }
           @include l{
                 @include pozicija($sa);
            }
            list-style: none;
            li{
                font-size: 30px;
                padding:10px;
                a:hover{
                    color:purple;
                     text-shadow: 0px 0px 20px black;
                     transition: 0.8s;
                }
            }
        }
    }
}